.maincontainer{
    text-align: center;
    background-color: rgba(223, 215, 249, 0.199);
    position: relative;
    border-radius: 129px 20px  20px 20px;
    padding: 4rem 2rem;
}
.textheading{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 33px;
    line-height: 54px;
    text-align: center;
    color: #5E6282;
}
.form{
    font-family: 'Montserrat Alternates', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #39425D;
    
}
.forminput{
    background: #FFFFFF;
    border-radius: 10px;
    border: none;
}
.button{
    background: #FF946D;
    border-radius: 10px;
    border: none;
    color: white;
    padding:1rem 2rem;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 23px;
    text-align: center;
}

@media (max-width: 576px) {
    .textheading{
        font-weight: 600;
        font-size: 1.75rem;
        line-height: 2.75rem;
        text-align: center;
        color: #5E6282;
    }
  }