#navbar {
  margin: auto;
  display: flex;
  justify-content: space-around;
  background-color: black;
  text-align: center;
  color: white;
  font-family: sans-serif;
}
#nav {
  display: block;
  margin-top: 20px;
}
a {
  text-decoration: none;
  color: white;
}
#input_data {
  font-family: sans-serif;
  margin: auto;
  text-align: center;
  font-size: 40px;
}
input {
  font-size: 30px;
}
