#main_items{
 display: grid;
 grid-template-columns: repeat(3,1fr);
 margin: auto;
 gap: 5px;
}

.item{
  text-align: center;
  padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

button{
    background-color: rgb(249, 249, 94);
    border: none;
    height: 40px;
    cursor: pointer;
    font-size: larger;
    border-radius: 10px;
    padding:10px 15px;
}

img{
    border-radius: 10px;
    box-shadow: 0 0 20px palevioletred;
}


#navbar{
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: larger;
}